name: cd

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    # ====================================================
    # Warm Mise Cache
    # ====================================================
    warm-mise-cache:
        uses: ./.github/workflows/warm-mise-cache.yml

    # ====================================================
    # Versioning and Release
    # ====================================================
    semantic-release:
        name: semantic-release
        uses: ./.github/workflows/shared-semantic-release.yml
        with:
            allowed_workflow_dispatch_branches: '["main"]'
            fail_on_invalid_workflow_dispatch_ref: true

    zerv-versioning:
        needs: semantic-release
        if: needs.semantic-release.outputs.is_valid_semantic_release == 'true'
        uses: ./.github/workflows/shared-zerv-versioning.yml

    create-version-prefix-tags:
        needs: [semantic-release, zerv-versioning]
        if: needs.semantic-release.outputs.new_release_published == 'true'
        uses: ./.github/workflows/shared-create-tags.yml
        with:
            tags: >-
                [
                  "${{ fromJson(needs.zerv-versioning.outputs.versions).v_major }}",
                  "${{ fromJson(needs.zerv-versioning.outputs.versions).v_major_minor }}"
                ]

    # ====================================================
    # Test and Lint
    # ====================================================
    test:
        needs: warm-mise-cache
        uses: ./.github/workflows/test.yml
        secrets:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    pre-commit:
        needs: warm-mise-cache
        uses: ./.github/workflows/pre-commit.yml

    # ====================================================
    # Deployment without environment
    # ====================================================
    release-bin:
        needs: [warm-mise-cache, zerv-versioning]
        uses: ./.github/workflows/build-bin.yml
        with:
            version: ${{ fromJson(needs.zerv-versioning.outputs.versions).semver }}
            tag: ${{ fromJson(needs.zerv-versioning.outputs.versions).v_semver }}
            upload_to_release: true

    publish-test-pypi:
        needs: [warm-mise-cache, zerv-versioning]
        uses: ./.github/workflows/publish-pypi.yml
        with:
            version: ${{ fromJson(needs.zerv-versioning.outputs.versions).semver }}
            registry: "test-pypi"
        secrets:
            PYPI_API_TOKEN: ${{ secrets.TEST_PYPI_API_TOKEN }}

    publish-pypi:
        needs: [warm-mise-cache, zerv-versioning]
        uses: ./.github/workflows/publish-pypi.yml
        with:
            version: ${{ fromJson(needs.zerv-versioning.outputs.versions).semver }}
            registry: "pypi"
        secrets:
            PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}

    publish-crates:
        needs: [warm-mise-cache, zerv-versioning, release-bin]
        uses: ./.github/workflows/publish-crates.yml
        with:
            version: ${{ fromJson(needs.zerv-versioning.outputs.versions).semver }}
        secrets:
            CRATES_API_TOKEN: ${{ secrets.CARGO_TOKEN }}
