name: ci

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    # ====================================================
    # Test and Lint
    # ====================================================
    test:
        uses: ./.github/workflows/test.yml
        secrets:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    pre-commit:
        uses: ./.github/workflows/pre-commit.yml
        with:
            python_version: "3.14"

    # ====================================================
    # Build Binaries
    # ====================================================
    build-bin:
        uses: ./.github/workflows/shared-build-bin.yml
