name: pre-commit

on:
    workflow_call:
        inputs:
            python_version:
                required: true
                type: string

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: setup-uv
              uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
              with:
                  version: "latest"
                  enable-cache: true
                  cache-python: true
                  python-version: ${{ inputs.python_version }}

            - name: cache-uv
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  path: |
                      ${{ github.workspace }}/.venv
                      ${{ github.workspace }}/target/
                  key: uv-${{ runner.os }}-py${{ inputs.python_version }}-${{ hashFiles('uv.lock') }}
                  restore-keys: |
                      uv-${{ runner.os }}-py${{ inputs.python_version }}-
                      uv-${{ runner.os }}-

            - name: install-dependencies
              run: uv sync --all-extras --all-groups --frozen

            - name: setup-path
              run: echo "${{ github.workspace }}/.venv/bin" >> $GITHUB_PATH

            - name: setup-bun
              uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
              with:
                  bun-version: latest

            - name: setup-rust-toolchain
              uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
              with:
                  toolchain: nightly
                  components: rustfmt, clippy

            - name: restore-cache
              id: cache
              uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      ${{ github.workspace }}/target/
                  key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: |
                      cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-
                      cargo-${{ runner.os }}-

            - name: run-pre-commit
              run: uv run pre-commit run --all-files

            - name: save-cache
              uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              if: always()
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      ${{ github.workspace }}/target/
                  key: ${{ steps.cache.outputs.cache-primary-key }}-${{ github.run_id }}-${{ github.run_attempt }}
