name: shared-warm-mise-cache

on:
    workflow_call:
        inputs:
            os:
                description: "OS matrix to warm cache for"
                type: string
                default: '["ubuntu-latest", "macos-latest", "windows-latest"]'

jobs:
    warm-mise-cache:
        strategy:
            matrix:
                os: ${{ fromJson(inputs.os) }}
        runs-on: ${{ matrix.os }}
        steps:
            - name: checkout-repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: setup-mise
              uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
              env:
                  MISE_JOBS: 1
